### 연산자

##### 산술연산자
-  '+' : 더하기
-  '-' : 빼기
-  '*' : 곱하기
-  '/' : 나누기
-  '%' : 나머지
-  '//' : 몫구하기

In [28]:
5+1

6

In [29]:
5-1

4

In [30]:
5*2

10

In [31]:
5/2

2.5

In [32]:
5%2

1

In [33]:
5//2

2

In [34]:
5**2

25

##### 비교 연산자
- '>' : 크다
- '>=' : 크거나 같다
- '<' : 작다
- '<=' : 작거나 같다
- '==' : 같다
- '!=' : 다르다

In [35]:
5>2

True

In [36]:
5>=2

True

In [37]:
5<=2

False

In [38]:
5<2

False

In [39]:
5==2

False

In [40]:
5!=2

True

##### 논리연산자
- and : 논리 곱
- or : 논리 합
- not : 논리 부정

In [41]:
True and True

True

In [42]:
(5>2) and (5<=2)

False

In [43]:
(5 > 2) or (5<=2)

True

In [44]:
not True

False

### 변수
데이터를 저장하는 공간  
파이썬에서는 변수의 특정 데이터 타입이 존재하지 않음  
즉, 하나의 변수에 여러 데이터 타입을 할당할 수 있음

In [45]:
variable = 10
variable

10

In [46]:
variable = True
variable

True

In [47]:
variable = 10.0
variable

10.0

In [48]:
#variable  = 0.13
variable = .13

### 데이터타입
- 정수형
- 실수형
- 논리형
- 문자열

In [49]:
type(10)

int

In [50]:
type(10.0)

float

In [51]:
type(True)

bool

In [52]:
type('문자열')

str

### 데이터타입 변환
- int() : 특정 데이터를 정수형으로 변환
- float() : 특정 데이러틀 실수형으로 변환
- bool() : 특정 데이터를 논리형으로 변환
- str() : 특정 데이터를 문자열로 변환

In [53]:
int(10.34)

10

In [54]:
int(True)

1

In [55]:
int(False)

0

In [56]:
int('10.4')

ValueError: invalid literal for int() with base 10: '10.4'

In [ ]:
float(10)

In [ ]:
float('10.0')

In [ ]:
float('a')

In [ ]:
bool(10)

In [ ]:
bool(0)

In [ ]:
bool('')

In [ ]:
bool(' ')

In [ ]:
str(10)

In [ ]:
str(True)

##### NaN, InF
- NaN (Not a Number) : 숫자가 아님을 나타냄
- Inf(Infinity) : 무한대

In [ ]:
float('NaN')

nan

In [ ]:
float('-Inf')

-inf

### 대입 연산자
- '=' : 좌항에 우항을 대입
- '+=' : 좌항에 좌항값을 우항을 더한 값을 대입
- '-=' : 좌항에 좌항값에 우항을 뻰 값을 대입
- '*=' :  좌항에 좌항값에 우항을 곱한 값을 대입
- '/=' :  좌항에 좌항값에 우항을 나눈 값을 대입
- '//=' :  좌항에 좌항값에 우항을 나눈 몫 값을 대입
- '**=' :  좌항에 좌항값에 우항을 제곱한 값을 대입

##### 파이썬은 증감연산자가 존재하지 않음
증감을 표현하고 싶으면  
변수 += 1. 변수 -= 1

In [64]:
variable = 10

In [60]:
variable += 3
variable

16

In [62]:
variable -= 3
variable

10

In [66]:
variable **= 3
variable

1000000000

### 문자열
- 출력 : print() 함수로 문자열 출력
- 문자열 연산 : + 연산자는 연결, * 반복, 
- 타 데이터 타입과 연결 : 반드시 타 데이터 타입을 str() 형변환 함수로 변형 후 연결
- 문자열 : '혹은 " 로 묶어서 표현, \n 으로 줄바꿈 가능
- 여러줄의 문자열 : '''혹은  """로 표현
- 문자열 치환 : .replace() 문자열 메서드로 특정 문자열을 변경 가능
- f문자열 : 문자열 앞에 f라는 키워드를 붙여서 문자열의 포멧을 만들어 사용 가능

In [67]:
string1 = '문자열1'
print(string1)
string2 = '문자열2'
print(string2)
string1, string2

('문자열1', '문자열2')

In [71]:
integer = 10

In [72]:
string1 + str(integer) +string2

'문자열110문자열2'

In [74]:
print("안녕하세요 \n 반갑습니다")

안녕하세요
 반갑습니다

In [76]:
statment = """안녕하세요
    반갑습니다 """
print(statment)

안녕하세요
    반갑습니다

In [77]:
date = '2024-07-18'
date = date.replace('-','.')
date

'2024.07.18'

In [3]:
name = '이성계'
age = 56
print(str(name + "의 나이는" + age + "입니다."))

TypeError: can only concatenate str (not "int") to str

In [7]:
f'{'abcd' :>20}'

'                abcd'

In [5]:
f'{'abcd':0>20}'

'0000000000000000abcd'